.message {
  &__ttl {
    margin-bottom: 35px!important;
  }

  &__contents {
    max-width: calc(100% - 20px);

    &-img {
      padding: 5px;
    }

    &-txt {
      padding: 5px;
      text-align: left;
    }
  }
}

@include media(tablet) {
  .message {
    &__contents {
      width: calc(100% - 40px);

      &-img {
        padding: 20px;
      }

      &-txt {
        padding: 20px;
      }
    }
  }
}